# Vercel
.vercel

# Virtual environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# # Database & Instance (auto-created on first run)
# instance/
# *.db
# *.sqlite
# *.sqlite3

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
